* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #fff;
    color: #555;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/* ESTILOS REUSABLES */
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 70px 0;
}

/* HEADER */
header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/anna-dudkova-urs_y9NwFcc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* NAVBAR */
.logo{
    height: 130px;
    width: auto;
    float: left;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover{
    border-bottom: 3px solid #19ac73;
}

.bars{
    display: none;
    float: right;
    color: #fff;
    margin-top: 50px;
    font-size:150%;
    border: #fff solid 2px;
    border-radius: 5px;
    padding: 3px 3px;
}

/* JUMBOTRON */
.jumbo{
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    color: #fff; 
}

.jumbo h1{
    font-size: 240%;
    font-weight: 600;
    margin-bottom: 40px;
}

.jumbo h3{
    font-size: 120%;
    font-weight: 200;
}

.jumbo form{
    margin-top: 10px;
    position: absolute;
    width: 40%;
}

.text-box{
    padding: 10px 12px;
    font-size: 80%;
    width: 70%;
    border-radius: 10px;
}

.btn{
    margin-top: -10px;
    background-color: #19ac73;
    padding: 5px 10px;
    height: 40px;
    color: #fff;
    font-size: 80%;
    border-radius: 15px;
    font-weight: 600;
    border: #19ac73 solid 1px;
    transition: background-color 0.2s, border 0.2s;
}

.btn:hover{
    background-color: #138055;
    border: #138055 solid 1px;
}

/* SECTION PRODUCTS */
h2{
    text-align: center;
    font-size: 200%;
    margin-bottom: 20px;
}

.section-products p,
.blog-content p{
    font-size: 90%;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

.products-showcase{
    display: flex;
    overflow:hidden;
}

.product-card{
    /* display: flexbox; */
    /* float: left; */
    width: 25%;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.product-card:hover{
    transform: rotateY(180deg);
}

.product-card .side{
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.product-card .back{
    background: #19ac73;
    color: #fff;
    line-height: 30px;
    text-align: center;
    padding-top: 70px;
    transform: rotateY(180deg);
    overflow: auto;
}

.product-container{
    height: auto;
    margin: 0;
}

.product-container img{
    width: 100%;
    height: auto;
}

/* BLOG SECTION */
.blog-content{
    background-color: #91efca;
    color: #555;
}

.blog-container{
    display: flex;
}

.blog-card{
    display: inline;
    width: 50%;
    float: left;
}

.blog-card img,
.blog-card .content{
    width: 100%;
    border-radius: 5%;
}

.content h2{
    font-size: 150%;
    text-align: justify;
    padding-top: 10%;
    padding-left: 20px;
}

.content p{
    text-align: justify;
    font-size: 90%;
    margin-bottom: 15px;
    padding-left: 20px;
}

.content a{
    text-decoration: none;
    padding: 5px 10px;
    font-size: 70%;
    background-color: #fff;
    border: #fff solid 1px;
    border-radius: 15px;
    float: right;
    transition: all 0.3s;
    color: #000;
    width: 100px;
    text-align: center;
}

.content a:hover{
    background-color: #3498db;
    color: #fff;
    font-weight: 600;
}

/* FOOTER */
footer{
    max-height: 150px;
}

.footer-container{
    display: flex;
    margin-top: 40px;
}

.footer-card{
    width: 50%;
}

.footer-card li{
    display: inline;
    list-style: none;
    margin-left: 5px;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 80%;
    border: #555 solid transparent;
    transition: all 0.5s;
}

.footer-card li:hover{
    border: #555 solid 1px;
    background-color: #555;
    color: #fff;
    font-weight: 600;
}

.footer-card a{
    float: right;
    padding-right: 25px;
    color:#555;
    font-size: 140%;
    transition: font-size 0.5s;
}

.footer-card a:hover{
    font-size: 100%;
}

footer p{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 70%;
}
